<%
function modal(coin, type) {
  var disabled = (type=='Delete')?"disabled='disabled'":"";
  return `
    <div class="modal fade" id="coin${type}${coin.id||''}" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="smallModalLabel">${type} Coin</h4>
          </div>
          <form method="POST" >
            <div class="modal-body">
              <div class="input-group">
                <span class="input-group-addon"><i class="material-icons">filter_9_plus </i></span>
                <div class="form-line">
                  <input ${disabled} class="form-control" type="number" min="1" name="pulses" required="required" title="Pulses" placeholder="Pulses" value="${coin.pulses||''}" />
                </div>
                <span class="input-group-addon"><i class="material-icons">attach_money </i></span>
                <div class="form-line">
                  <input ${disabled} class="form-control" type="number" min="1" name="credits" required="required" title="Credits" placeholder="Credits" value="${coin.credits||''}" />
                </div>
              </div>
              <div class="input-group"><span class="input-group-addon"><i class="material-icons">alarm </i></span>
                <div class="form-line"><input ${disabled} class="form-control" type="text" name="time" required="required" pattern="[0-9]{1,}:[0-5]{1}[0-9]{1}" title="HH:MM" placeholder="Time (HH:MM)"  value="${coin.time||''}" /></div>
              </div>
			  <!-- <strong>Optional Settings</strong>
              <div class="input-group"><span class="input-group-addon"><i class="material-icons">alarm </i></span>
                <div class="form-line"><input ${disabled} class="form-control" type="text" name="expiry" pattern="[0-9]{1,}:[0-5]{1}[0-9]{1}|\-" title="HH:MM" placeholder="Expiry (HH:MM)"  value="${coin.expiry == '-'?'':coin.expiry}" /></div>
              </div>
              -->
            </div>
            <div class="modal-footer"><button class="btn btn-link waves-effect" type="submit" name="coin-${type.toLowerCase()}" value="${coin.id||0}">${type=='Delete'?'Delete':'Save'}</button><button class="btn btn-link waves-effect" type="button" data-dismiss="modal">CLOSE  </button></div>
          </form>
        </div>
      </div>
    </div>
  `;
}

%>
<table class="table">
  <thead>
    <tr>
      <th width="100px">Pulses</th>
      <th width="100px">Credits</th>
      <th width="130px">Time(HH:MM)</th>
      <!-- <th width="130px">Expiry(HH:MM) <a href="https://docs.google.com/spreadsheets/d/1FCCyUUXB9gYy-Br5X1YU7whz6T36JLFgz4yGxsF9XqI/edit?fbclid=IwAR258YO4DSxFPYelccLOUGWxXDSNBzyc1wlZDbgAW6U5GUGmewZh1j1iUws#gid=0" target="_blank">help</a></th> -->
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="5">
        <button type="button" class="btn btn-block bg-grey waves-effect btn-sm" data-toggle="modal" data-target="#coinNew">
          <i class="material-icons">add_circle</i>
          <span>Add New Coin &nbsp;</span>
        </button>
        <%- modal({}, `New`); %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% if ( cointable.length ) { %>
      <% cointable.forEach(function( coin ) { %>
        <tr>
          <td><span style="font-size: 20px;"><%- coin.pulses %></span>
          </td>
          <td><span style="font-size: 20px;"><%- coin.credits %></span></td>
          <td><span style="font-size: 20px;"><%- coin.time %></span></td>
         <!--  <td><span style="font-size: 20px;"><%- coin.expiry %></span></td> -->
         <td>
            <button type="button" class="btn btn-xs btn-primary waves-effect" data-toggle="modal" data-target="#coinEdit<%- coin.id %>">
              <i class="material-icons">mode_edit</i>
              <span class="hidden-xs">Modify &nbsp;</span>
            </button>
            <%- modal(coin, `Edit`); %>
            <button type="button" class="btn btn-xs btn-danger waves-effect" data-toggle="modal" data-target="#coinDelete<%- coin.id %>">
              <i class="material-icons">delete_forever</i>
              <span class="hidden-xs">Delete &nbsp;</span>
            </button>
            <%- modal(coin, `Delete`); %>
          </td>
        </tr>
      <% }); %>
    <% } %>
  </tbody>
</table>
<hr class="m-b-30">
<div class="row clearfix">
  <form method="POST" >
    <div class="col-sm-4">
      <h2 class="card-inside-title">Insert Coin waiting time:</h2>
      <div class="form-group form-float">
        <div class="form-line">
          <input type="number" name="insert-coin-wait-time" min="5" required="required" class="form-control" value="<%- waittime||`` %>">
          <label class="form-label">Waiting time in seconds</label>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h2 class="card-inside-title">Penalty Timer after Coin Drop:</h2>
      <div class="form-group form-float">
        <div class="form-line">
          <input type="number" name="insert-coin-penalty-time1" min="5" required="required" class="form-control" value="<%- penaltytime1||`` %>">
          <label class="form-label">Penalty time in seconds</label>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h2 class="card-inside-title">Penalty Timer after no Coin Drop:</h2>
      <div class="form-group form-float">
        <div class="form-line">
          <input type="number" name="insert-coin-penalty-time2" min="5" required="required" class="form-control" value="<%- penaltytime2||`` %>">
          <label class="form-label">Penalty time in seconds</label>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h2 class="card-inside-title">Device distance filter:</h2>
      <div class="form-group form-float">
        <div class="form-line">
          <input type="number" name="insert-coin-distance" min="0" required="required" class="form-control" value="<%- distance||`` %>">
          <label class="form-label">signal in dBm</label>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h2 class="card-inside-title">GPIO pin for coin pulse:</h2>
      <div class="form-group form-float">
        <div class="form-line">
          <input type="number" name="insert-coin-pin1" min="0" required="required" class="form-control" value="<%- pin1||`` %>">
          <label class="form-label">GPIO.BOARD PIN</label>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h2 class="card-inside-title">Pulse distribution:</h2>
      <div class="form-group form-float">
        <div class="form-line">
          <select class="form-control" title="Method used in converting pulses to time" name="insert-coin-pulse-distribution" placeholder="Method used in converting pulses to time">
            <option value="factor" <%- pulse_distribution == 'factor'?'selected=selected':'' %> >By Factoring</option>
            <option value="accumulative" <%- pulse_distribution == 'accumulative'?'selected=selected':'' %> >By Accumulative</option>
          </select>
          <label class="form-label">Method used in converting pulses to time</label>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h2 class="card-inside-title">GPIO pin to drive the relay:</h2>
      <div class="form-group form-float">
        <div class="form-line">
          <input type="number" name="insert-coin-relay-pin" min="0" required="required" class="form-control" value="<%- relaypin||`` %>">
          <label class="form-label">GPIO.BOARD PIN</label>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h2 class="card-inside-title">Relay Settings:</h2>
      <div class="form-group form-float">
        <div class="form-line">
          <select class="form-control" title="Your relay setting" name="insert-coin-relay-state" placeholder="Your relay setting">
            <option value="0" <%- relaystate == 0?'selected=selected':'' %> >Active Low</option>
            <option value="1"<%- relaystate == 1?'selected=selected':'' %>>Active High</option>
          </select>
          <label class="form-label">Your relay setting</label>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h2 class="card-inside-title">Reject fast inserting coins:</h2>
      <div class="form-group form-float">
        <div class="form-line">
          <select class="form-control" title="One coin at a time" name="insert-coin-smart" placeholder="One Coin at a time">
            <option value="no" <%- smart == 'no'?'selected=selected':'' %> >No</option>
            <option value="yes"<%- smart == 'yes'?'selected=selected':'' %>>Yes</option>
          </select>
          <label class="form-label">One Coin at a time</label>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary m-t-15 waves-effect">Save</button>
    </div>
  </form>
</div>
